<!DOCTYPE html>
<html lang="en">
    <!-- TODO: This HTML file must be replaced by the dummy site -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Welcome to SkillsBridge</h1>
    <h2>Test Sign up</h2>

    <form id="signup-form">
        <input type="email" id="email" placeholder="Email" required>
        <input type="password" id="password" placeholder="Password" required>
        <button type="submit">Sign Up</button>
    </form>

    <h2>Test Login</h2>
    <form id="login-form">
        <input type="email" id="login-email" placeholder="Email" required>
        <input type="password" id="login-password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>

    <h2>Login with Google</h2>
    <button id="google-login">Login with Google</button>

    <h2>Login with Apple</h2>
    <button id="apple-login">Login with Apple</button>


<!-- TODO: place these lines in the dummy site -->
    <script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-analytics-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-auth-compat.js"></script>
    <script src="/firebase.js"></script>
</body>

</html>